
@{
    ViewBag.Title = "Development - Alt";
}

<div class="container-fluid">
    <header id="top">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#top">
                        <img src="~/Content/images/Code-Hexagon-Icon.png" />
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#HTML">HTML</a></li>
                        <li><a href="#JQuery">JQuery</a></li>
                        <li><a href="#Bootstrap">Bootstrap</a></li>
                        <li><a href="#Git">GIT</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
 </div>

<div class="container-fluid">
    <section class="row">
        <div class="fill-screen development-a">
            <img class="img-responsive title-image" src="~/Content/images/Code-Hexagon.png" />

            <div class="down-button">
                <a class="btn" href="#TipsAndTricks">
                    <img src="~/Content/images/CircledArrow-Down.png" />
                </a>
            </div>

        </div>
    </section>
    <section id="TipsAndTricks" class="row content-holder">
        <h1>Development Tips and Tricks</h1>
    </section>
    <section class="row">
        <div class="fill-screen fixed-attachment" style="background-image: url(../../Content/images/Development-B.png);">

        </div>
    </section>
    <section id="Git" class="row content-holder">
        <div class="row">
            <div class="col-xs-12 col-sm-4 ">
                <img class="img-responsive technology-image" src="~/Content/images/Git.png" />
            </div>
            <div class="col-xs-12 col-sm-8">
                <p class="technology-text">Git is a version-control system for tracking changes in computer files and coordinating work on those files among multiple people. It is primarily used for source-code management in software development, but it can be used to keep track of changes in any set of files.</p>
            </div>
        </div>
       
    </section>
    <section class="row">
        <div class="fill-screen fixed-attachment" style="background-image: url(../../Content/images/Development-C.png);">

        </div>
    </section>
</div>

<footer class="container-fluid">
    <div class="row">
        <hr />
    </div>
</footer>

<!-- -->
